html .theme-entry {
                                font-size: 10px;
}
  .theme-entry h1 {
                                font-size: 20px;
                                font-family: Proxima Nova Light;
                    }
